<h1>All the Beers</h1>
<div>
  <% beersFromApi.forEach((beer) => { %>
  <div>
    <a href="/beers/<%= beer.id %>">
      <%- include('partials/beer.ejs', {beer })%>
    </a>
  </div>
  <% }) %>
</div>
